<!DOCTYPE html>
<html>
<head>
  <title>SalesforceSync</title>
  <%= stylesheet_link_tag    "salesforce_sync/application", :media => "all" %>
  <%= javascript_include_tag "salesforce_sync/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
